
body {
  margin: 0;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(ellipse at 20% 30%, rgba(11, 35, 87, 0.7) 10%, rgba(11, 35, 87, 0) 70%),
              radial-gradient(ellipse at 40% 40%, rgba(37, 71, 168, 0.7) 10%, rgba(37, 71, 168, 0) 70%),
              radial-gradient(ellipse at 60% 30%, rgba(26, 61, 124, 0.7) 10%, rgba(26, 61, 124, 0) 70%),
              radial-gradient(ellipse at 80% 40%, rgba(37, 71, 168, 0.7) 10%, rgba(37, 71, 168, 0) 70%),
              linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

.search-container {
  display: flex;
  padding: 40px;
  color: #ffffff;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 650px;
}

.search-content {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #0b2357; /* Ajusta el color según tus preferencias */
  background: inherit;
  height: 100%;
}

.slogan {
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  font-size: 14px; /* Ajusta el tamaño de letra según tus necesidades */
  margin-bottom: 10px; /* Ajusta según tus necesidades */
  color: #ffffff; /* Ajusta el color según tus preferencias */
  letter-spacing: 1px;
}
.search-text .title{
  max-width: 100%;
}
.search-text .subtitle{
  max-width: 50%;
}

.search-img {
  max-width: 50%;
  height: auto;
}

.search-input {
  width: 250px;
  height: 30px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ffffff; /* Borde blanco */
  border-radius: 5px;
  margin-right: 10px; /* Espaciado entre el input y el botón */
}

.search-button {
  height: 50px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #1341ec; /* Fondo blanco para el botón */
  color: #ffffff; /* Texto negro para el botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.search-button:hover {
  background-color: #0e2dcb; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}



/* Body.css */
/*.body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  background: #3498db;
}

.body-content {
  width: 50%;
  display: flex;
  padding: 2em;
  align-items: center; 
}

.input-text {
  flex: 8; 
  padding: 5px;
}

.button {
  flex: 2; 
  padding: 7px;
  background: #0483fb;
  color: #fff;
}
*/