/* Footer.css */


.footer {
  background-color: #ffffff;
  color: #1341ec;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 50px; /* Ajusta esta altura según tus necesidades */
  overflow: hidden;
  }
  