.sentiment-ai-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #3498db;
    padding: 20px;
  }
  
  .left-section h1 {
    margin: 0;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .right-section button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos adicionales para la caja de texto en el body */
  .text-input {
    display: flex;
    align-items: center;
    width: 40%; /* Cambiado a 50% para ocupar la mitad del ancho */
    padding: 10px;
    margin: 10px;
  }
  
  .text-input input {
    flex: 4; /* Cambiado a 4 para ocupar el 80% de la caja de texto */
    padding: 10px;
    margin-right: 10px; /* Agregado margen derecho para separar la caja de texto del botón */
  }
  
  .text-input button {
    flex: 1; /* Cambiado a 1 para ocupar el 20% de la caja de texto */
  }
  